body {
    height: 250vh;
}

.title {
    width: 100vw;
}

.title h1 {
    /* display: inline-block; */
    width: 100vw;
    text-align: center;
    margin: 1rem auto;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: center;
    height: calc(80vh - 3rem);
    min-height: 500px;
    min-width: 1040px;
    margin: 0 15px;
}

.main__left,
.main__right {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main__left {
    width: 16%;
    margin-right: 15px;
    align-items: flex-end;
}

.main__right {
    width: 80%;
}

.main__left--top,
.main__right--top {
    display: flex;
    flex-grow: 78;
    height: 78%;
    width: 100%;
}

.main__left--bottom,
.main__right--bottom {
    display: flex;
    flex-grow: 22;
    justify-content: flex-start;
    height: 22%;
    width: 100%
}

.main__left--top .column,
.main__right--top .column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: 210px;

    margin-bottom: 15px;
    width: 100%;
}

.main__left--bottom .column,
.main__right--bottom .column {
    width: 100%;
}

.cell {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 3px;
    align-items: center;

    min-width: 30px;
    min-height: 30px;

    margin: 2px;

    width: 90%;
    aspect-ratio: 1 /1;

    transition: .5s ease-in-out;
}

.cell:hover {
    background: var(--c);
    cursor: pointer;
    transform: scale(1.5) translate(15px, -15px);
}

.cell a {
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
    /* justify-content: space-between; */
    align-items: center;
    min-width: 30px;
    min-height: 30px;
    margin: 2px;

    width: 90%;
    aspect-ratio: 1 /1;
}


.index {
    display: block;
    font-size: .4rem;
    align-self: flex-start;
    padding: .1rem;
}

.element {
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    margin-top: 15%;
}

.letter {
    align-self: center;
    font-weight: bold;
}

.name {
    display: flex;
    font-size: .4rem;
    align-self: center;
    padding: .1rem;
}

.weight {
    display: flex;
    font-size: .4rem;
    align-self: center;
}

.no_border {
    border: none;
}

.no_border:hover {
    cursor: initial;
}

.no_hover:hover {
    transform: translate(0,0) scale(1);
    cursor: initial;
}

.verde {
    background-color: rgb(87, 240, 87);
    --c: rgb(67, 140, 67); 
}

.laranja {
    background: rgb(236, 174, 58);
    --c: rgb(196, 145, 51);
}

.amarelo {
    background-color: rgba(255, 255, 0, 0.842);
    --c: rgb(198, 198, 0);
}

.vermelho {
    background-color: rgb(225, 100, 100);
    --c: rgb(187, 80, 80);
}

.azul {
    background-color: rgb(95, 113, 119);
    --c: rgb(59, 70, 74);
}

.verde_escuro {
    background-color: rgb(91, 175, 143);
    --c: rgb(91, 175, 143);
}

.azul_claro {
    background-color: rgb(180, 220, 246);
    --c: rgb(136, 164, 183);
}

.super_azul {
    background-color: rgb(82, 121, 180);
    --c: rgb(62, 92, 137);
}

.verde_clarinho {
    background-color: rgb(120, 195, 182);
    --c: rgb(95, 154, 144);
}

.roxo {
    background-color: rgb(193, 101, 212);
    --c: rgb(151, 78, 165);
}

.range {
    font-size: .5rem;
    justify-content: center;
}

.detail {
    border: solid 1px black;
    margin: 1rem;
    border-radius: 5px;
}

.legend {
    height: 13vh;
    width: 70vw;
    margin: 3vh auto;
    padding: .5rem;
    font-weight: bolder;
}

.legend__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.legend__row {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.legend__column--item {
    display: flex;
    margin: .4rem;
}

.legend__column--color {
    margin-right: .5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.legend__column--item p {
    font-size: .8rem;
    align-self: center;
}

.legend__square {
    display: flex;
    /* height: 70%; */
    border: solid 1px;
}

.information p {
    padding: .2rem;
}

.transform {
    /* float: initial; */
    transform: scale(2);
}

.example {
    position: relative;
    display: inline-block;
}

.example p {
    position: absolute;
    display: inline-block;
    width: 70vw;
}

.element .example p {
    left: -5px;
}

.div__name .example p {
    margin-top: .4rem;
    left: -10px;
}

.div__weight .example p {
    margin-top: -.1rem;
    left: -10px;
}

.example .index {
    margin-left: 10px;
    font-weight: initial;
}
